#-------------------------------
#   Created by OS
#-------------------------------
# Windows
Thumbs.db
# Mac
.DS_Store

#-------------------------------
#   Created by Editor
#-------------------------------
#VSCode
.vscode/

#-------------------------------
#   Created by Composer
#-------------------------------
vendor/