includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    excludePaths:
        - vendor/
        - node_modules/
    ignoreErrors:
    level: 9
    paths:
        - class/class-abt-base.php
        - admin-bar-tools.php
        - class/
        - tests/
    scanDirectories:
        - class/
        - tests/
    scanFiles:
        - conf/stubs/admin-bar-tools-tests-stubs.php
        - vendor/yoast/wp-test-utils/src/WPIntegration/bootstrap-functions.php
        - vendor/yoast/wp-test-utils/src/WPIntegration/TestCase.php
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/wordpress-tests-stubs/wordpress-tests-stubs.php