includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    excludePaths:
        - ./vendor/
        - ./node_modules/
    ignoreErrors:
    level: 0
    paths:
        - ./admin-bar-tools.php
        - class/
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/wordpress-tests-stubs/wordpress-tests-stubs.php