includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    excludePaths:
        - ./vendor/
        - ./node_modules/
    ignoreErrors:
    level: 0
    paths:
        - ./admin-bar-tools.php
        - class/